html {
  overflow-X: hidden;
  height: 100%;
}

body {
  background-color: #000;
	-webkit-transition:background-color linear 5s;
	-moz-transition:background-color linear 5s;
	-o-transition:background-color linear 5s;
	-ms-transition:background-color linear 5s;
	transition:background-color linear 5s;
	overflow-x:hidden;
}

.water {
  background-color: #1360D7;
  filter-gradient: #84E5DA, #2BA4F2, vertical;
  background-image:(linear-gradient(top,  rgba(#1BDDE4,1) 0%,rgba(#1360D7,1) 100%));
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.sand {
  position: absolute;
  top: 60%;
  left: -10%;
  width: 120%;
  height: 1000px;
  border-radius: 50% 50% 0 0 / 3% 3% 0 0;
  background: #D8DBB0;
  box-shadow:
    inset 0 20px 30px 0 rgba(0,0,0,0.3),
    0 -20px 30px 0 rgba(0,0,0,0.3);
}

#bubbles, #content, #sand, #messages, #play_song, #view_message, #view_gifts {
  display: none;
}

@font-face {
  font-family: 'SpongeBob Font Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('SpongeBob Font Condensed'), url('./SpongebobFontCondensedRegular-3zZEy.woff') format('woff');
}

.sponge {
  font-family: 'SpongeBob Font Condensed';
  color:#eedf0d;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: bold;

}

.confetti {
  position: absolute;
  width: 250px;
  height: 380px;
  overflow: hidden;
}

.squareOne, .squareTwo, .squareThree, .squareFour, .squareFive, .squareSix, .squareSeven, .squareEight, .squareNine, .squareTen {
  position: absolute;
  width: 10px;
  height: 25px;
  top:-110px;
}

.squareOne {
  background-color: #ef476f;
  animation: down 2.5s linear infinite;
  left:50px;
}

.squareTwo {
  background-color: #06d6a0;
  animation: down 2.3s linear infinite .2s;
  left:150px;
}

.squareThree {
  background-color: #118ab2;
  animation: down 2.4s linear infinite .4s;
  left:250px;
}

.squareFour {
  background-color: #ffbe0b;
  animation: down 2.7s linear infinite .1s;
  left:300px;
}

.squareFive {
  background-color: #118ab2;
  animation: down 2.6s linear infinite .7s;
  left:5px;
}

@keyframes down {
  0% {top:-110px; transform: rotate(0deg) rotateY(-90deg);opacity:1;}
  100% {top:400px; transform: rotate(360deg) rotateY(180deg);opacity:0.5;}
}

@keyframes downTwo {
  0% {top:-130px; transform: rotate(0deg) rotateY(90deg);opacity:1;}
  100% {top:400px; transform: rotate(-360deg) rotateY(-180deg);opacity:0.5;}
}


.squareSix {
  background-color: #ffbe0b;
  animation: downTwo 2.4s linear infinite .2s;
  left:70px;
}

.squareSeven {
  background-color: #ef476f;
  animation: downTwo 2.1s linear infinite .7s;
  left:170px;
}

.squareEight {
  background-color: #ef476f;
  animation: downTwo 2.4s linear infinite .9s;
  left:280px;
}

.squareNine {
  background-color: #06d6a0;
  animation: downTwo 2.9s linear infinite .9s;
  left:50px;
}

.squareTen {
  background-color: #118ab2;
  animation: downTwo 2.2s linear infinite 1.1s;
  left:350px;
}

.greeting {
  top: 30px;
  position: inherit;
}

.cake {
  position: absolute;
  left: 50%;
  margin-left: -180px;
  width: 180px;
  height: 200px;
  top: 60px;
}

.cake-bottom {
  position: absolute;
  width:200px;
  height: 60px;
  background-color: #06d6a0;
  top:240px;
  left:91px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

.cake-bottom:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 15px;
  left:-5px;
  border-radius: 0 0 50px 50px;
  background-color: white;
  box-shadow: 30px 0 white, 60px 0 white, 90px 0 white, 120px 0 white, 150px 0 white, 180px 0 white;
}

.cake-bottom:before {
  content:"";
  position: absolute;
  background-color: #ef476f;
  width: 30px;
  height: 60px;
  left:25px;
  box-shadow: 60px 0 #ef476f, 120px 0 #ef476f;
}

.cake-middle {
  position: absolute;
  width: 150px;
  height: 60px;
  background-color: #118ab2;
  border-radius: 7px 7px 0 0;
  top:180px;
  left:117px;
  box-shadow: inset 0 -20px #073b4c;
  overflow: hidden;
}

.cake-middle:before {
  content:"";
  position:absolute;
  background-color: #ef476f;
  border-radius:50%;
  width:10px;
  height: 10px;
  top:20px;
  left: 10px;
  box-shadow: 15px 10px #ffd166, 30px 0 #06d6a0, 45px 10px #ef476f, 60px 0 #ffd166, 75px 10px #06d6a0, 90px 0 #ef476f, 105px 10px #ffd166, 120px 0 #06d6a0;
}

.cake-middle:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 15px;
  left:0;
  border-radius: 0 0 50px 50px;
  background-color: white;
  box-shadow: 30px 0 white, 60px 0 white, 90px 0 white, 120px 0 white;
}

.cake-top {
  position: absolute;
  width:100px;
  height: 60px;
  background-color: #ef476f;
  border-radius: 7px 7px 0 0;
  top:120px;
  left:143px;
  overflow: hidden;
  box-shadow: inset 0 20px #118ab2;
}

.cake-top:before {
  content:"";
  position: absolute;
  background-color: #118ab2;
  width: 15px;
  height:35px;
  left:-5px;
  border-radius:20px;
  box-shadow: 15px 10px #ef476f, 30px 5px #118ab2, 45px 5px #ef476f,60px -10px #118ab2, 75px 10px #ef476f, 90px 0 #118ab2; 
}

.cake-top:after {
  position: absolute;
  content:"";
  background-color: rgba(0,0,0,0.1);
  width:50px;
  border-radius: 0 7px 0 0;
  height: 60px;
  left:50px;
}

.candle {
  position: absolute;
  background: repeating-linear-gradient(-45deg, white, white 5px,
  #06d6a0 5px, #06d6a0 10px);
  width:10px;
  height: 40px;
  border-radius: 3px 3px 0 0;
  top:80px;
  left:188px;  
}

.candle:before {
  content:"";
  position: absolute;
  background-color: #333;
  width:1px;
  height:10px;
  top:-10px;
  left:4px;
}

.flame {
  opacity:0.7;
}

.flame:before {
  content:"";
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width:20px;
  height:20px;
  top:55px;
  left:183px;
  animation: scale .5s linear infinite;
}

.flame:after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #ffbe0b;
  width: 11px;
  height: 11px;
  top:61px;
  left:187.5px;
  animation: scale .5s linear infinite;
}

@keyframes scale {
  0% {transform: scaleY(1) rotate(-45deg);}
  25% {transform: scaleY(1.3) rotate(-45deg);}
  50% {transform: scaleY(1) rotate(-45deg);}
  75% {transform: scaleY(1.3) rotate(-45deg);}
  100% {transform: scaleY(1) rotate(-45deg);}
}

.shadow {
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  height: 60px;
  width: 74px;
  border-radius:0 7px 0 0;
  top:180px;
  left:193px;
}

.shadow:before, .shadow:after {
  content:"";
  position: absolute;
  background-color: rgba(0,0,0,0.1);
}

.shadow:before {
  height: 60px;
  width:98.5px;
  border-radius:0 7px 0 0;
  top:60px;
}

.shadow:after {
  height: 40px;
  width:5px;
  border-radius: 0 5px 0 0;
  top:-100px;
}

.wrapper div {
  height: 40px;
  width: 40px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
  opacity: 0.7;
}

div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
  opacity: 0.7;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

#messages {
	margin-top: 100px;
  padding: 1em;
}
#messages p {
	font-size: 20px;
	color: #c4b70e;
	font-weight: bold;
  display: none;
}

#gift {
  display: none;
}

.bannar-come {
	-webkit-animation: bannar_come linear 6s;
	-webkit-transform:translate(0px,0px);
	-moz-animation: bannar_come linear 6s;
	-moz-transform:translate(0px,0px);
	-o-animation: bannar_come linear 6s;
	-o-transform:translate(0px,0px);
	-ms-animation: bannar_come linear 6s;
	-ms-transform:translate(0px,0px);
	animation: bannar_come linear 6s;
	transform:translate(0px,0px);
}
@-webkit-keyframes bannar_come {
	0%{
		-webkit-transform:translate(0px,-1000px);
	}
	33%{
		-webkit-transform:translate(0px,0px);
		-webkit-transform:rotate(10deg);
		/*-webkit-transform:scale(1.5);*/
	}
	66% {
		-webkit-transform:translate(0px,100px);
		-webkit-transform:rotate(-10deg);
	}
	100% {
		-webkit-transform:translate(0px,0px);
	}
}
@-moz-keyframes bannar_come {
	0%{
		-moz-transform:translate(0px,-1000px);
	}
	33%{
		-moz-transform:translate(0px,0px);
		-moz-transform:rotate(10deg);
		/*-webkit-transform:scale(1.5);*/
	}
	66% {
		-moz-transform:translate(0px,100px);
		-moz-transform:rotate(-10deg);
	}
	100% {
		-moz-transform:translate(0px,0px);
	}
}
@-o-keyframes bannar_come {
	0%{
		-o-transform:translate(0px,-1000px);
	}
	33%{
		-o-transform:translate(0px,0px);
		-o-transform:rotate(10deg);
		/*-webkit-transform:scale(1.5);*/
	}
	66% {
		-o-transform:translate(0px,100px);
		-o-transform:rotate(-10deg);
	}
	100% {
		-o-transform:translate(0px,0px);
	}
}
@-ms-keyframes bannar_come {
	0%{
		-ms-transform:translate(0px,-1000px);
	}
	33%{
		-ms-transform:translate(0px,0px);
		-ms-transform:rotate(10deg);
		/*-webkit-transform:scale(1.5);*/
	}
	66% {
		-ms-transform:translate(0px,100px);
		-ms-transform:rotate(-10deg);
	}
	100% {
		-ms-transform:translate(0px,0px);
	}
}


.contain {
  max-width: 800px;
  margin: 15px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.bob {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 200px;
}
.bob .sponge {
  position: relative;
  height: 150px;
  width: 180px;
  z-index: 20;
}
.bob .sponge .shape {
  border-top: 150px solid #FEF46E;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  z-index: -1px;
}
.bob .sponge .blobs span {
  position: absolute;
  width: 15px;
  height: 20px;
  background: #C5C75A;
  border-radius: 50%;
}
.bob .sponge .blobs span:nth-of-type(1) {
  top: 10px;
  left: 22px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bob .sponge .blobs span:nth-of-type(2) {
  height: 10px;
  width: 8px;
  top: 30px;
  left: 14px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bob .sponge .blobs span:nth-of-type(3) {
  bottom: 25px;
  left: 20px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.bob .sponge .blobs span:nth-of-type(4) {
  height: 10px;
  width: 8px;
  bottom: 15px;
  left: 37px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.bob .sponge .blobs span:nth-of-type(5) {
  bottom: 10px;
  right: 30px;
  -ms-transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
.bob .sponge .blobs span:nth-of-type(6) {
  height: 10px;
  width: 8px;
  bottom: 30px;
  right: 20px;
  -ms-transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
.bob .sponge .blobs span:nth-of-type(7) {
  top: 12px;
  right: 15px;
  -ms-transform: rotate(-140deg);
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg);
}
.bob .sponge > .top .waves, .bob .sponge > .left .waves, .bob .sponge > .bottom .waves, .bob .sponge > .right .waves {
  position: absolute;
  width: 30px;
}
.bob .sponge > .top .waves:before, .bob .sponge > .left .waves:before, .bob .sponge > .bottom .waves:before, .bob .sponge > .right .waves:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  border-top: 2px solid #B1B14C;
  background: #FEF46E;
  top: -3px;
  border-radius: 20px;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
}
.bob .sponge > .top .waves:after, .bob .sponge > .left .waves:after, .bob .sponge > .bottom .waves:after, .bob .sponge > .right .waves:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  border-bottom: 2px solid #B1B14C;
  background: white;
  top: -1px;
  right: 0;
  border-radius: 20px;
  border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
}
.bob .sponge > .top .waves {
  top: 0;
  left: 0;
}
.bob .sponge > .top .waves:nth-of-type(2) {
  left: 30px;
}
.bob .sponge > .top .waves:nth-of-type(3) {
  left: 60px;
}
.bob .sponge > .top .waves:nth-of-type(4) {
  left: 90px;
}
.bob .sponge > .top .waves:nth-of-type(5) {
  left: 120px;
}
.bob .sponge > .top .waves:nth-of-type(6) {
  left: 150px;
}
.bob .sponge > .left .waves {
  left: -14px;
  top: 15px;
  -ms-transform: rotate(-95deg);
  -webkit-transform: rotate(-95deg);
  transform: rotate(-95deg);
}
.bob .sponge > .left .waves:nth-of-type(2) {
  top: 45px;
  left: -11px;
}
.bob .sponge > .left .waves:nth-of-type(3) {
  top: 75px;
  left: -8px;
}
.bob .sponge > .left .waves:nth-of-type(4) {
  top: 105px;
  left: -5px;
}
.bob .sponge > .left .waves:nth-of-type(5) {
  top: 135px;
  left: -2px;
}
.bob .sponge > .right .waves {
  right: -14px;
  top: 15px;
  -ms-transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
}
.bob .sponge > .right .waves:nth-of-type(2) {
  top: 45px;
  right: -11px;
}
.bob .sponge > .right .waves:nth-of-type(3) {
  top: 75px;
  right: -8px;
}
.bob .sponge > .right .waves:nth-of-type(4) {
  top: 105px;
  right: -5px;
}
.bob .sponge > .right .waves:nth-of-type(5) {
  top: 135px;
  right: -2px;
}
.bob .sponge > .bottom .waves {
  left: 15px;
  bottom: 0;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bob .sponge > .bottom .waves:nth-of-type(3):after {
  background: #FEF46E;
}
.bob .sponge > .bottom .waves:nth-of-type(2) {
  left: 45px;
}
.bob .sponge > .bottom .waves:nth-of-type(3) {
  left: 75px;
}
.bob .sponge > .bottom .waves:nth-of-type(4) {
  left: 105px;
}
.bob .sponge > .bottom .waves:nth-of-type(5) {
  left: 135px;
}
.bob .sponge .eyelash {
  position: absolute;
  top: 22px;
}
.bob .sponge .eyelash.left {
  left: 46px;
}
.bob .sponge .eyelash.right {
  right: 46px;
}
.bob .sponge .eyelash .lash {
  height: 9px;
  width: 3px;
  background: black;
  margin-right: 9px;
  float: left;
  border-radius: 50%;
}
.bob .sponge .eyelash .lash:nth-of-type(1) {
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  margin-top: 2px;
}
.bob .sponge .eyelash .lash:nth-of-type(2) {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.bob .sponge .eyelash .lash:nth-of-type(3) {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin-top: 2px;
  margin-right: 0;
}
.bob .sponge .eye {
  position: absolute;
  top: 30px;
  height: 55px;
  width: 58px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
}
.bob .sponge .eye.left {
  left: 30px;
}
.bob .sponge .eye.left .pupil {
  left: 45%;
}
.bob .sponge .eye.right {
  right: 30px;
}
.bob .sponge .eye.right .pupil {
  right: 45%;
}
.bob .sponge .eye .pupil {
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  height: 17px;
  width: 17px;
  background: #69CDDC;
  border: 2px solid black;
  border-radius: 50%;
}
.bob .sponge .eye .pupil .dot {
  position: absolute;
  height: 8px;
  width: 8px;
  background: black;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  border-radius: 50%;
}
.bob .sponge .nose {
  position: absolute;
  top: 67px;
  left: 79px;
  height: 22px;
  width: 18px;
  background: #FEF46E;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  z-index: 10;
}
.bob .sponge .cheek {
  position: absolute;
  top: 47%;
  height: 16px;
  width: 22px;
  border-top: 2px solid #E64B39;
  border-left: 2px solid #E64B39;
  border-right: 2px solid #E64B39;
  border-radius: 50%;
  border-bottom: 2px solid transparent;
  background: #FEF46E;
  z-index: 6;
}
.bob .sponge .cheek.left {
  left: 20px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.bob .sponge .cheek.right {
  right: 20px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bob .sponge .cheek .freckle {
  height: 2px;
  width: 2px;
  float: left;
  margin-right: 3px;
  background: #E64B39;
  border-radius: 50%;
  margin-top: 3px;
}
.bob .sponge .cheek .freckle:nth-of-type(1) {
  margin-top: 5px;
  margin-left: 5px;
}
.bob .sponge .cheek .freckle:nth-of-type(3) {
  margin-top: 5px;
  margin-right: 0;
}
.bob .sponge .dimple {
  position: absolute;
  top: 83px;
  width: 8px;
  height: 12px;
  border-top: 2px solid black;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  z-index: 8;
}
.bob .sponge .dimple.left {
  left: 30px;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.bob .sponge .dimple.right {
  right: 30px;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.bob .sponge .mouth {
  position: absolute;
  bottom: 38px;
  left: 50%;
  margin-left: -82px;
  width: 160px;
  height: 180px;
  border-bottom: 2px solid black;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  z-index: 7;
}
.bob .sponge .mouth .tooth {
  position: absolute;
  bottom: -15px;
  height: 10px;
  width: 12px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid transparent;
  background: white;
  border-radius: 0 0 30% 30%;
}
.bob .sponge .mouth .tooth.left {
  left: 38%;
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}
.bob .sponge .mouth .tooth.right {
  right: 38%;
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.bob .sponge .chin {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 25px;
  height: 10px;
  border-bottom: 2px solid #ED914A;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  margin-left: -25px;
}
.bob .sponge .chin.right {
  left: 63%;
}
.bob > .bottom {
  width: 138px;
  height: 50px;
  position: relative;
  margin-top: -6px;
  margin-left: 21px;
  background: whitesmoke;
  border-top: 2px solid black;
  z-index: 10;
}
.bob > .bottom .border {
  position: absolute;
  z-index: 2;
}
.bob > .bottom .border.left, .bob > .bottom .border.right {
  height: 50px;
  width: 20px;
  background: white;
  top: 0;
}
.bob > .bottom .border.left {
  border-left: 2px solid black;
  left: -2px;
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.bob > .bottom .border.right {
  border-right: 2px solid black;
  right: -2px;
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}
.bob > .bottom .border.bottom {
  bottom: -2px;
  left: 0;
  width: 138px;
  border-bottom: 2px solid black;
}
.bob > .bottom .collar {
  position: absolute;
  top: -12px;
  height: 20px;
  width: 30px;
  border: 2px solid black;
  z-index: 5;
}
.bob > .bottom .collar.left {
  left: 30px;
  border-radius: 20% 20% 20% 60%;
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.bob > .bottom .collar.right {
  right: 30px;
  border-radius: 20% 20% 60% 20%;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.bob > .bottom .sleeve {
  position: absolute;
  top: -20px;
  height: 30px;
  width: 20px;
  border: 2px solid black;
  background: white;
  border-radius: 80% 80% 40% 40%;
  z-index: 1;
}
.bob > .bottom .sleeve.left {
  left: -15px;
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}
.bob > .bottom .sleeve.right {
  right: -15px;
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.bob > .bottom .arm {
  position: absolute;
  top: 10px;
  height: 45px;
  width: 5px;
  background: #FEF46E;
  border-left: 2px solid black;
  border-right: 2px solid black;
  z-index: 0;
}
.bob > .bottom .arm.left {
  left: -8px;
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.bob > .bottom .arm.right {
  right: -8px;
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}
.bob > .bottom .hand {
  position: absolute;
  top: 51px;
  background: #FEF46E;
  height: 16px;
  width: 12px;
  border-radius: 30px;
  border: 2px solid black;
  z-index: -1;
}
.bob > .bottom .hand.left {
  left: -7px;
}
.bob > .bottom .hand.left .finger {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.bob > .bottom .hand.left .finger:nth-of-type(1) {
  left: 6px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.bob > .bottom .hand.left .finger:nth-of-type(2) {
  left: 3px;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.bob > .bottom .hand.left .finger:nth-of-type(3) {
  left: -1px;
}
.bob > .bottom .hand.right {
  right: -7px;
}
.bob > .bottom .hand.right .finger {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.bob > .bottom .hand.right .finger:nth-of-type(1) {
  right: 6px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bob > .bottom .hand.right .finger:nth-of-type(2) {
  right: 3px;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.bob > .bottom .hand.right .finger:nth-of-type(3) {
  right: -1px;
}
.bob > .bottom .hand .finger {
  position: absolute;
  top: 6px;
  height: 15px;
  width: 3px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid transparent;
  border-radius: 0 0 20px 20px;
  background: #FEF46E;
}
.bob > .bottom .hand .finger:nth-of-type(1) {
  top: 3px;
  height: 13px;
}
.bob > .bottom .hand .finger:nth-of-type(2) {
  top: 5px;
}
.bob > .bottom .hand .finger:nth-of-type(3) {
  height: 13px;
}
.bob > .bottom .tie-knot {
  border-top: 10px solid red;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  height: 0;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -7px;
  z-index: 11;
}
.bob > .bottom .tie-knot:before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid black;
}
.bob > .bottom .tie-long {
  position: relative;
  top: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 30px solid red;
  z-index: 10;
}
.bob > .bottom .tie-long:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid red;
  top: 30px;
  left: -10px;
}
.bob > .bottom .pantsleg {
  position: absolute;
  bottom: -12px;
  height: 20px;
  width: 20px;
  background: #C96936;
  border: 2px solid black;
  border-radius: 80% / 30%;
}
.bob > .bottom .pantsleg.left {
  left: 30px;
}
.bob > .bottom .pantsleg.right {
  right: 30px;
}
.bob > .bottom .pants {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 25px solid #C96936;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  width: calc(100% - 6px);
  z-index: 3;
}
.bob > .bottom .pants .border {
  position: absolute;
  top: -25px;
  left: -3px;
  width: calc(100% + 6px);
  border-top: 2px solid black;
  height: 10px;
}
.bob > .bottom .pants .belt {
  position: absolute;
  top: -25px;
  left: 0;
  width: calc(100% - 10px);
  border-top: 6px dashed black;
  margin: 5px 5px;
  height: 10px;
}
.bob > .bottom .leg {
  position: absolute;
  bottom: -50px;
  height: 45px;
  width: 5px;
  background: #FEF46E;
  border-left: 2px solid black;
  border-right: 2px solid black;
  z-index: -1;
}
.bob > .bottom .leg.left {
  left: 37px;
}
.bob > .bottom .leg.right {
  right: 37px;
}
.bob > .bottom .leg .sock {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: white;
  border-top: 2px solid black;
}
.bob > .bottom .leg .sock:before, .bob > .bottom .leg .sock:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
}
.bob > .bottom .leg .sock:before {
  background: #B6EBF1;
  top: 15%;
}
.bob > .bottom .leg .sock:after {
  top: 35%;
  background: #E4473F;
}
.bob > .bottom .foot {
  position: absolute;
  bottom: -65px;
  width: 20px;
  height: 18px;
  background: black;
  border-radius: 20px;
}
.bob > .bottom .foot:after {
  content: "";
  position: absolute;
  top: 5px;
  background: white;
  border-radius: 20px;
  height: 3px;
  width: 4px;
}
.bob > .bottom .foot.left {
  left: 20px;
}
.bob > .bottom .foot.left:after {
  left: 5px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.bob > .bottom .foot.left:before {
  right: -10px;
}
.bob > .bottom .foot.left .shoe {
  right: -12px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.bob > .bottom .foot.right {
  right: 20px;
}
.bob > .bottom .foot.right:after {
  right: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bob > .bottom .foot.right:before {
  left: -10px;
}
.bob > .bottom .foot.right .shoe {
  left: -12px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bob > .bottom .foot:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 8px;
  width: 10px;
  background: black;
}
.bob > .bottom .foot .shoe {
  position: absolute;
  bottom: 3px;
  width: 30px;
  height: 14px;
  background: black;
  border-radius: 20px;
}


.box {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 200px;
  top:40px;
}

.box-body {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: 123.3333333333px;
  background-color: #cc231e;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#762c2c,#ff0303);
}
.box-body .img{
  opacity: 0;
  ransform: translateY(0%);
  transition: all 0.5s;
  margin: 0 auto;
  display: block;
}
.box-body:hover {
  cursor: pointer;
  -webkit-animation: box-body 1s forwards ease-in-out;
          animation: box-body 1s forwards ease-in-out;
}
.box-body:hover .img{
  /* opacity: 1;
  z-index: 0;
  transform: translateY(-157px); */


   
}
.box-body:hover .box-lid {
  -webkit-animation: box-lid 1s forwards ease-in-out;
          animation: box-lid 1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::before {
  -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
          animation: box-bowtie-left 1.1s forwards ease-in-out;
}
.box-body:hover .box-bowtie::after {
  -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
          animation: box-bowtie-right 1.1s forwards ease-in-out;
}
.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffffff,#ffefa0)
}
.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90%;
  height: 40px;
  background-color: #cc231e;
  height: 40px;
  width: 220px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffefa0,#fff)
}
.box-bowtie {
  z-index: 1;
  height: 100%;
}
.box-bowtie::before, .box-bowtie::after {
  content: "";
  width: 83.3333333333px;
  height: 83.3333333333px;
  border: 16.6666666667px solid white;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}
.box-bowtie::before {
  left: 50%;
  -webkit-transform: translateX(-100%) skew(10deg, 10deg);
          transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
  left: 50%;
  -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
          transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@-webkit-keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
            transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
            transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
            transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}
@-webkit-keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
            transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
            transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
            transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@-webkit-keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
@keyframes box-bowtie-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
            transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
            transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}